$body-bg               :#2ecc71;
$navbar-default-bg  :#29b865;
$navbar-inverse-bg  :#29b865;
$navbar-inverse-link-color : #fff;
$jumbotron-bg              :#34495e;
$jumbotron-color              :#fff;
@import 'bootstrap';

